---
layout: base-layout.njk
pagination:
  data: collections.pickers
  size: 100
  alias: pickers
---

<style>
  .horizontal {display: flex; flex-direction: row;}
  .center {align-items: center;}
  .flex {flex: 1;}

  header {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
  }
  h1 {
    font-weight: 400;
    margin: 0;
    font-size: 40px;
    letter-spacing: 0.5px;
  }
  h4 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
    padding: 20px 6px;
    max-width: 1000px;
    min-height: 320px;
  }
  .pickerPanel {
    display: grid;
    place-content: center;
    place-items: center;
    padding: 0 10px;
  }
  .colorPanel {
    display: grid;
    place-content: center;
    place-items: center;
    color: white;
    background: rgb(191, 64, 64);
    transition: color 0.3s ease;
  }
  .colorPanel a {
    color: inherit;
    border-color: inherit;
    border-bottom: 2px solid currentColor;
  }
  #logoPanel img {
    margin-right: 20px;
  }

  @media(max-width: 600px) {
    #logoPanel.horizontal {
      flex-direction: column;
    }
    h1 {
      font-size: 38px;
      letter-spacing: 0;
    }
    #logoPanel img {
      margin-bottom: 20px;
    }
    section {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      padding: 20px 0px;
    }
    .colorPanel {
      padding: 16px 8px;
      margin-top: 20px;
    }
  }
</style>

<header>
  <div style="display: grid; place-content: center; place-items: center;">
    <div id="logoPanel" class="horizontal center" style="padding: 30px 0;">
      <img src="/images/logo128.png" alt="every color picker logo">
      <h1 class="flex">every color picker</h1>
    </div>
  </div>
  <p>This is a collection of color picker custom-elements that can be used in any web application. You can use them on a plain HTML page or when using a JavaScript framework.</p>
  <p>The goal of this project is to cover all styles and categories of color pickers, and all color related components. I'm starting out with seven of these, but more to come. Ideas, thoughts, and contributions are welcome.</p>
  <p>The source code is available <a href="https://github.com/pshihn/every-color-picker">on Github</a> under the <a href="https://github.com/pshihn/every-color-picker/blob/master/LICENSE">MIT License</a>. 
  You can sponsor this project via <a href="https://github.com/sponsors/pshihn">Github Sponsors</a>.</p>
  <p><i>Note: These components are Beta-ish. Please report issues on Github.</i></p>
</header>

<main>
{% for picker in pickers %}
  <section class="section{{loop.index}}">
    <div class="pickerPanel"></div>
    <div class="colorPanel">
      <div class="vertical">
        <h4>{{ picker.data.title }} ({{picker.data.size}})</h4>
        <div>
          <a href="/pickers/{{picker.data.element}}">More →</a>
        </siv>
      </div>
    </div>
  </section>
  <script type="module">
    import "{{ picker.data.script }}";
    document.querySelector('.section{{loop.index}} .pickerPanel').innerHTML = `<{{picker.data.element}}></{{picker.data.element}}>`
    setTimeout(() => {
      const preview = document.querySelector('.section{{loop.index}} .colorPanel');
      const e = document.querySelector('{{picker.data.element}}');
      e.value = 'rgb(191, 64, 64)';
      e.addEventListener('change', () => {
        preview.style.background = e.value;
        const [r, g, b, a] = e.rgb;
        const brightness = (299 * r + 587 * g + 114 * b) / 1000;
        preview.style.color = (brightness > 128 || a < 0.5) ? '#000' : '#fff';
      });
      preview.style.background = e.value;
      const [r, g, b, a] = e.rgb;
      const brightness = (299 * r + 587 * g + 114 * b) / 1000;
      preview.style.color = (brightness > 128 || a < 0.5) ? '#000' : '#fff';
    });
  </script>
{% endfor %}
</main>

<footer>
  <a id="footerLink" href="/">
    <img src="/images/logo60.png" style="margin-right: 16px;" alt="every color picker logo">
    <span>every color picker</span>
  </a>
  <p style="font-size: 14px; color: #555; margin-top: 2em;">
  These components were made on the couch while binging shows on Netflix by <a href="https://twitter.com/preetster">Preet</a>. 
  This website is made using <a href="https://www.11ty.dev/">11ty</a> and is open sourced <a href="https://github.com/pshihn/ecp-website">on Github</a>.
  </p>
</footer>