<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{%- if title -%}{{ title }}{%- else -%}Every Color Picker{%- endif -%}</title>
  <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}A set of small, framework independent color picker components for the web.{%- endif -%}">
  <link rel="icon" href="/images/fav.png" type="image/png">
  
  <meta property="og:title" content="{%- if title -%}{{ title }}{%- else -%}Every Color Picker{%- endif -%}">
  <meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}A set of small, framework independent color picker components for the web.{%- endif -%}">
  <meta property="og:image" content="https://everycolorpicker.com/images/social.png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="699">

  <style>
  body {
    overflow-x: hidden;
    margin: 0;
    font-weight: 400;
    line-height: 1.756;
    font-size: 18px;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #08080B;
    background: #fcfcfc;
  }
  a, a:hover, a:visited {
    color: #4455BF;
    text-decoration: none;
    border-bottom: 2px solid #4455AA;
  }
  footer {
    padding: 24px 8px;
    text-align: center;
    background: #f0f0f0;
    margin-top: 80px;
  }
  a#footerLink {
    border: none;
    color: #000;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1px;
    font-size: 20px;
  }
  </style>

  <link rel="stylesheet" href="{{ '/css/prism-vs.css' | url }}">

</head>
<body>
  {{ content | safe }}

  <script>
    window.ga = window.ga || ((...args) => (ga.q = ga.q || []).push(args));
    ga("create", "UA-134693493-3", "auto");
    ga("set", "transport", "beacon");
    ga("send", "pageview");
    const s = document.createElement("script");
    s.src = "https://www.google-analytics.com/analytics.js";
    document.head.appendChild(s);
  </script>
</body>

</html>